# Ambiente virtual
venv/

# Cache Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Build do PyInstaller
build/
dist/

# Arquivos spec opcionais
# *.spec

# Banco de dados
*.db
*.sqlite3

# Logs
*.log

# Arquivos temporários
*.tmp
*.temp

# Configurações do VS Code
.vscode/

# Configurações do PyCharm
.idea/

# Variáveis de ambiente
.env

# Arquivos do sistema
.DS_Store
Thumbs.db